body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-simple-home-interior-background-material-conditioningindoortable-lamppotted-plantgreen-image_51061.jpg);
    background-attachment: fixed;
    background-position: center top;
}

    
    h1 {
    color: rgb(95, 6, 136);
    margin-left: 20px;
    }
    
    
    

    